body {
    margin: 0;
    background-color: aqua;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

section {
    width: 100%;
    margin: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: orangered;
    position: fixed;
    box-sizing: border-box;
}

#img-wrapper img {
    width: 250px;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

nav {
    justify-content: flex-end;
    vertical-align: bottom;
    align-items: center;
    margin-right: 2rem;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    padding: 0rem 0.8rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav li a:hover {
    color: white;
    font-weight: 500;
    background-color: #FFA41B;
    padding: 1.6rem 1rem;
}

.content-wrapper {
    min-height: 100vh;
    padding: 60px 0px;
}

.card-col{
    margin: 1rem;
    margin-top: 3rem;
    padding: 0.5rem 3rem;
    flex-direction: column;
    display: flex;
    color: #F86F03;
}

.col{
    display: flex;
}


.title{
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
}

.lf{
    text-align: left;
}

.text{
    flex-direction: row;
    text-align: left;
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
    line-height: 35px;
}

.tableLayout{
    margin-left: 30px;
    display: grid;
    width: 100%;
    border-collapse: collapse;
    padding: 8px;
}

.iconskill{
    margin: 30px 30px;
    width: auto;
    max-height: 40px;
}


#content1{
    background-color: #FFF6F4;
}

#content1 img{
    height: 600px;
}

#content2{
    background-color: orangered;
}

#tableEx {
    text-align: center;
    display: grid;
    width: 100%;
    border-collapse: collapse;
    padding: 8px;
    color: #FFF6F4;
}

#iconJ{
    padding: 10px 0px;
    width: 21em;
    height: auto;
}

.text-box{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
}

.text-box td{
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.text-box p{
    margin: 0px 10px;
}

.text-year{
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    color: white;
    line-height: 35px;
}

.text-year td{
    padding-bottom: 10px;
}

#edu-intr {
    background-color: #FFF6F4;
}

.profile-detail{
    font-family: Segoe UI, Tahoma, 'Geneva', Verdana, sans-serif;
    display: grid;
    width: 100%;
    border-collapse: collapse;
    padding: 8px;
}

.profile-detail tr:hover{
    background-color: white;
}

.profile-detail td{
    padding: 15px;
}

.profile-detail img{
    width: 11rem;
}

.profile-detail h3{
    text-align: left;
    font-weight: 400;
    line-height: 1.7rem;
}

.profile-detail h2{
    text-align: center;
    font-weight: 500;
}

.profile-detail h1{
    text-align: left;
    font-weight: 700;
    line-height: 2.6rem;
}

.interest-detail{
    display: grid;
    width: 100%;
    text-align: center;
}

.interest-detail th{
    background-color: #FFA41B;
}

.interest-detail a{
    text-decoration: none;
    color: #FFF6F4;
}

.interest-detail a:hover{
    color: #F86F03;
}

.interest-detail td:hover{
    background-color: white;
}

.content-wrapper-small {
    min-height: 30vh;
    padding: 60px 0px;
}

.award-detail{
    display: grid;
    width: 100%;
    text-align: center;
}

.award-detail th{
    background-color: white;
}

.award-detail img{
    width: 100%;
    height: auto;
}

/*  */
#footer {
    background-color: orangered; 
    color: #fff;
    text-align: center;
    margin-top: auto;
    font-weight: bold;
    display: flex;
    justify-content: center;
}